<div style="text-align:center">
  <h1 
    [style.font-size.em]="myHelloComponent.namesList.length > 0 ? 2: 1.5"
    [style.color]="myHelloComponent.namesList.length > 0 ? 'red': 'black'"
  >
    Let's learn Angular
  </h1>
  <div [class.hidden]="myHelloComponent.inputName.length == 0">
    <span [ngClass]="updateNameClasses(myHelloComponent.inputName)">'{{ myHelloComponent.inputName }}'</span> in HelloComponent
  </div>
  <br>
  <custom-hello 
    #myHelloComponent 
    (sayHello)="onSayHello($event)"
  >
  </custom-hello>
</div>